{
    "headless" : true,
    "login_op" : {
        "username" : "YOU'R USERNAME TO ODDS PORTAL",
        "password" : "YOU'R PASSWORD TO ODDS PORTAL"
    },
    "login_stl" : {
        "email" : "YOU'R EMAIL TO STRYKTIPSETETLEAGUE",
        "password" : "YOU'R PASSWORD TO STRYKTIPSETETLEAGUE"
    },
    "sleep_time" : 60
}