{
    "headless" : true,
    "login_op" : {
        "username" : "YOU'R USERNAME TO ODDS PORTAL",
        "password" : "YOU'R PASSWORD TO ODDS PORTAL"
    },
    "login_stl" : {
        "email" : "YOU'R EMAIL TO STRYKTIPSETETLEAGUE",
        "password" : "YOU'R PASSWORD TO STRYKTIPSETETLEAGUE"
    },
    "sleep_time" : 60,
    "output-email": {
        "from": "DESIRED OUTPUT EMAIL ADDRESS",
        "server": "EMAIL SERVER,
        "port": FORT TO EMAIL SERVER,
        "password": "EMAIL SERVER PASSWORD",
        "to": ["EMAIL ADDRESS TO SEND TO"]
    }
}